[submodule "\\apps\\web\\src"]
	path = \\apps\\web\\src
	url = https://github.com/TheotimChevalier/Repo-A.git


# fatal: not a git repository: C:/Projets_QDS/CI_CD/RepoB/apps/web/src/../.git/modules/src